@import '@/style/iconfont.scss';
@import '@/style/var.scss';
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.f12 {
  font-size: 12px;
}

.ty-nav {
  background-color: #3190e8;
}
